@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 355 100% 90.2%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 0 100% 25.1%;
    --primary-foreground: 355 100% 98%;
    --secondary: 355 60% 95%;
    --secondary-foreground: 0 100% 25.1%;
    --muted: 355 60% 95%;
    --muted-foreground: 224 7.1% 45.1%;
    --accent: 25 100% 41.4%;
    --accent-foreground: 355 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355 100% 98%;
    --border: 355 20% 80.8%;
    --input: 355 20% 80.8%;
    --ring: 25 100% 41.4%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 30% 10%;
    --foreground: 355 100% 98%;
    --card: 0 30% 12%;
    --card-foreground: 355 100% 98%;
    --popover: 0 30% 10%;
    --popover-foreground: 355 100% 98%;
    --primary: 355 100% 90.2%;
    --primary-foreground: 0 100% 25.1%;
    --secondary: 0 30% 15%;
    --secondary-foreground: 355 100% 98%;
    --muted: 0 30% 15%;
    --muted-foreground: 355 5% 63.9%;
    --accent: 25 80% 60%;
    --accent-foreground: 0 100% 25.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 355 100% 98%;
    --border: 0 30% 20%;
    --input: 0 30% 20%;
    --ring: 25 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
